resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 60s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10

    instances:
      weatherApi:
        baseConfig: default
        waitDurationInOpenState: 60s
        recordExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - java.util.concurrent.TimeoutException
          - java.io.IOException

      commodityApi:
        baseConfig: default
        waitDurationInOpenState: 120s
        failureRateThreshold: 60

  retry:
    configs:
      default:
        maxAttempts: 3
        waitDuration: 2s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2

    instances:
      weatherApi:
        baseConfig: default
        retryExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - java.util.concurrent.TimeoutException

  ratelimiter:
    instances:
      weatherApi:
        limitForPeriod: 100
        limitRefreshPeriod: 1m
        timeoutDuration: 0s

  timelimiter:
    instances:
      weatherApi:
        timeoutDuration: 5s

  bulkhead:
    instances:
      weatherApi:
        maxConcurrentCalls: 10
        maxWaitDuration: 100ms

management:
  health:
    circuitbreakers:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        resilience4j.circuitbreaker.calls: true